<h1>Add a book</h1>

<%= form_with model: @book do |form|%>
	<div class="p-2">
		<%=form.label :title %>
		<%=form.text_field :title, required:true %>
	</div>
	<div class="p-2">
        <%=form.collection_select :author, Author.order(:last_name), :id, :name %>
    </div>
    <%= form.fields_for :author do |author_form| %>
        <div class="p-2">
            <%=author_form.label :first_name %>
            <%=author_form.text_field :first_name, required:true %>
        </div>
        <div class="p-2">
            <%=author_form.label :last_name %>
            <%=author_form.text_field :last_name, required:true %>
        </div>
    <% end %>
    <%=form.submit "Add book"%>
<%end%>